body{
    background-image:url("https://media.pitchfork.com/photos/5ee923f47bb7acb328d5683d/1:1/w_600/Punisher%20_Phoebe%20Bridgers.jpg");
    background-attachment: fixed;
    background-size: 175%;
    text-align: center;
    font-family:sans-serif;
}
h1{
    color:red;
    font-size: 40px;
    
}
h2{
    color: red;
    font-weight: lighter;
}
p{
    color:lightblue;
    font-weight:lighter;
}