html{
    font-family:'Archivo Narrow', sans-serif;
    line-height: 1.4;
    
}
#intro{
    background-image: url(https://images.unsplash.com/photo-1570304816841-906a17d7b067?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmV3JTIweW9yayUyMHNreWxpbmV8ZW58MHx8MHx8&w=1000&q=80);
}
#intro .content-area{
padding: 50px;
text-align: center;
height: 381px;
}

div.content-area #intro{
    padding-top: 30px;
}

.content-area{
width: 960px;
margin-left: auto;
margin-right: auto;
}

#grid{
    background-color: lightblue;
    height:660px;
}

#conclusion.panel{
    background-color: rgb(125, 97, 187);
    height: 392px;
}

.grid-pictures{
display:grid;
grid-template-columns: 1fr 1fr;
margin:0;
margin-top:40px;
padding-left:0;
row-gap: 2px;
column-gap: 5px;

  list-style: none;
}

li{
    /* margin-bottom:20px; */
    margin-right:63px;
    margin-bottom:20px;
}

.grid-pictures img{
    float:left;
    padding-right:12px;
    clear:both;
    width:200px;
    height:150px;
}



#grid h3.section-title-grid{
    margin-top:21;
    margin-top:21;
    
   
}

#conclusion .content-area{
    width: 730px;
}

#footer.panel{
    background-color: white;
}

h1{
    font-size: 80px;
    margin: 0;
    margin-top: 90px;
}

h2{
    font-size: 30px;
    margin:0;
    line-height: 1;
    margin-bottom: 170px;
  
}

h3{
    text-align: center;
    font-size: 40px;
    margin: 0;
    margin-top: 10px;
}

h4{
    text-align: center;
    font-size: 26px;
}

h5{
    font-size: 20px;
    margin:0;
}

h6{
    font-size: 18px;
}
.paragraph{
    text-align: left;
    font-size: 18px;
    margin-top: 30px;
    margin-top: 30px;
}


.panel{

    padding:10px;
  
}

#description.panel {
      background-color: rgb(125, 97, 187);
      padding-bottom:40px;
}


.float{
width:400px;
height:300px;
object-fit: cover;
float:right;
padding-left: 40px;
padding-bottom: 40px;
}